
@media  (max-width:1200px) {
    
}

@media  (max-width:992px) {

    .priviev__title{
        font-size: 38px;   
    }

    .flats__lofts{
        gap: 30px;
    }

}

@media  (max-width:768px) {
    
.nav__list{
        position: absolute;
        top: 15%;
        flex-direction: column;
        background: #242B33;
        align-items: center;
        right: 0;
        padding: 15px;
        transition: .5s;
        transform: scaleY(0);
        transform-origin: top;
        border: 2px gray solid;
        border-radius: 15px;
        gap: 25px;
    }

    .nav__list li{
        border-bottom: 1px gray solid;
    }

    .nav__menu:hover .nav__list{
        transform: scaleY(1) ;
    }
    
    .nav__menu-btn{
        display: flex;
    }
    
    .nav__menu:hover .nav__menu-btn span{
        background: transparent;
    }
    .nav__menu:hover .nav__menu-btn span::before{
        transform: rotate(45deg);
        top: 5px;
    }
    .nav__menu:hover .nav__menu-btn span::after{
        transform: rotate(-45deg)
    }

}

@media  (max-width:576px) {
    
    .priviev__content{
        gap: 70px;
    }

    .priviev__title{
        font-size: 33px;
        max-width: 450px;
    }

    .contacts{
       gap: 20px;
       flex-direction: column;
    }

    .contacts__link {
      justify-content: center;
    }

    .details{
        padding: 50px 30px 80px;
    }
   
     .details__content{
        flex-direction: column;
        gap: 50px;
    }

    .flats__lofts{
        flex-direction: column;
        gap: 70px;
    }

    .flats__lofts-item:hover {
        transform: scale(1.1);
    }

    .look__content{
        flex-direction: column;
    }

    .look__content h2{
        font-size: 33px;
    }

    .look__content p{
    font-size: 15px;
    }

    .look__forms{
    margin-top: 30px;
        justify-content: center;
        gap: 10px;
    }
    
   
}

@media  (max-width:320px) {

    .nav__content{
        flex-direction: column;
        gap: 20px;
    }
    .nav__list{
        left: 0;
        top: 26%;
    }

    .priviev__content{
        gap: 40px;
    }

    .priviev__title{
        
        font-size: 23px;
        max-width: 250px;
    }

    .contacts{
    flex-direction: column;
    gap: 30px;
    }

    .contacts__link span{
        font-size: 15px;
    }

    .look__forms input,.forms__btn{
        width: 100%;
    }

    .forms__btn{
        width: 100%;    
        padding: 5px 15px;
        margin-top: 10px;
    }

    .look__forms p{
        font-size: 13px;
    }
}